#corep,#langp,#codingp,#marcp,#overviewp,#Experiencep,#leisap,#Exap,#Achievp{
  
    font-family: calibri;
  font: size 11px;
  color: black;
  
  
}

header {
  text-align: center;
}

footer {
  background-color: #343330;
  text-align: center;
}
